#wrap{}
#header{}
#section{}
#footer{}








.up{position: fixed; bottom:100px; right:6%; z-index:99999;
    display: none;
    cursor: pointer;}

.quick{}
.quick ul{position: fixed; top:35%; right:4%; z-index:99999;}
.quick ul li{text-align: right; margin-top:30px;}
.quick ul a{font-size:0.8rem; padding-right:10px; color:#FFBB00;}
.quick ul .quick_box{width:20px; height:20px; background-color: #dfdfdf; 
                     border-radius:30px; float: right; }






/*********************header****************************/
#header{width:100%; height:130px; position: relative; background-color:#F3F3F3;}
#header .inner{position: relative;}
#header .logo{width:190px; height:auto; float: left;
              position: relative; top:20px; left:70px;}
#header .logo img{width:100%;}

#header .header_top{float: right;}

#header #nav{position: relative; margin-right:50px;}
#header #nav .depth1 > li{float: left; padding-left:50px; padding:40px 90px 0 0;}
#header #nav .depth1 > li > a{display: block; line-height: 60px;}
#header #nav .depth1 > li:hover ul{display: block;}
#header #nav .depth1 ul{background-color:rgba(53, 53, 53, 0.8);
                        width:100%; padding:20px 0; padding-left:25px;
                        position: absolute; left:0; top: 130px;
                        display: none; z-index:99999;}
#header #nav .depth1 ul li{display: inline-block; padding:0 40px 0 0; 
                           color:#FFA200; font-size:0.8rem;}

#header .contact{position: relative; font-size:0.75rem; float: right;
                 color: #FFBB00;margin-right:50px;}
#header .contact a{border-bottom:1px #FFBB00 solid; margin-right:20px;}
/*********************section****************************/

#section1{width:100%;position: relative;}
#section1 .slide{width:100%;
                 position: relative;}
#section1 .slide img{width:100%; }
#section1 .slide span{display: block; text-indent:-9999px;
                      font-size:0.01rem;}
/*slide 페이저*/
#section1 .bx-wrapper .bx-controls-direction{display: none;}
#section1 .bx-wrapper .bx-controls-auto {display: none;}


#section1 .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #DFDFDF;
    padding-top: 20px;
  }

#section1 .bx-wrapper .bx-pager.bx-default-pager a { 
    float: left;
    background: #dfdfdf;
    text-indent: -9999px;
    display: block;
    width: 50px;
    height: 3px;
    margin: 0 3px;
    outline: 0;
  }
#section1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#section1 .bx-wrapper .bx-pager.bx-default-pager a.active,
#section1 .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #FFBB00;}

#section1 .bx-wrapper .bx-pager-item{display: inline-block;}
/*slide 페이저*/

#section1::after{content: ''; display: block; clear: both;}
#section1{margin-bottom:150px;}
#section1 .inner #notice{width:100%; max-width:1280px; height: 40px; padding-left:85px;
                        position: absolute; bottom:100px; transition: 0.5s; 
                        overflow: hidden;
                        background-color: rgba(255, 255, 255, 0.85);}
#section1 .news_title{display: inline-block; font-weight:700;
                     font-size:0.95rem; color: #FFBB00;
                     padding:10px 10px 0 0;}
#section1 .rolling{width:100%; height:50px; 
                   margin-top:-16.5px;
                   margin-left:150px;
                   overflow: hidden;}
#section1 .rolling li{width:400px; font-size:0.875rem;height:35px;}
#section1 .rolling li a:last-child{float: right;}


#section2::after{content: ''; display: block; clear: both;}
#section2{margin-bottom:150px;}
#section2 h2{margin-bottom:80px; text-align: center;}
#section2 .regular_2 div{margin:0 0 0 0;}
#section2 .regular_2 img{width: 100%;}

#section2 .regular_2 .slick-slide img {transition:.3s}
#section2 .regular_2 .slick-slide.slick-active.slick-current img {
  opacity: 1;
  transform: scale(1.3);
  border: #FFBB00 1px solid;
  box-shadow:1px 1px 20px;
   }


#section2 .slick-slide {
  padding:30px;
  text-align:center;
  margin-right:15px;
  margin-left:15px;
}
/*slick dot*/

#section2 .slick-dots{margin-left:23%;
                     margin-top:30px; }
#section2 .slick-dots li{width:15px; height:15px; background-color:#dfdfdf;
                         border-radius:30px; text-indent: -9999px;
                         display:block; float: left;
                         margin: 0 45px 0 45px;}
#section2 .slick-dots li:active, 
#section2 .slick-dots li:hover, 
#section2 .slick-dots li:focus,
#section2 .slick-dots li.slick-active{width:20px; height:20px; background: #FFBB00;
                                      border-radius:40px; }

  /*slick dot*/
#section2 .sec2_box{margin:0 auto; width:100%; height:110px; float: left;
          border-top:1px solid #FFBB00;
          border-bottom:1px solid #FFBB00;
          margin-top:100px;}
#section2 .sec2_box p{font-size:1.2rem; line-height:110px; margin-left:100px;
                      color: #FFBB00;}
#section2 .sec2_box .more{text-align: center; padding-top:10px; float: right;
                          color:rgba(53, 53, 53, 0.8);
                          font-weight: 700; margin-top:-75px;}


#section3::after{content: ''; display: block; clear: both;}
#section3{position: relative; width:100%;}
#section3 .service1{width:60%; height:auto; border:#FFBB00 1px solid;
                    float: left; }
#section3 .service1 img{width:100%;}
#section3 .ser1_head{text-align: center; z-index: 999;
                     position: absolute; top:150px; left:400px;}
#section3 .ser1_head h2{font-size:1.8rem;}
#section3 .ser1_head h3{color: #dfdfdf; margin-top:10px; margin-bottom:5px;}
#section3 .ser1_head p{color: #dfdfdf; font-size:0.87rem;}
#section3 .ser1_head .sec3_more{width:110px; height:15px; margin-top:20px;
                                padding-left:95px;}
#section3 .ser1_head .sec3_more img{width:100%;}

#section3 .service2{width:60%; height:auto; border:#FFBB00 1px solid;
                    transform:translate(0, -100px);
                    float: right; /*position: absolute; top:415px; left:850px;*/}
#section3 .service2 img{width:100%;}
#section3 .ser2_head{text-align: center;
                     position: absolute; top:200px; left:215px;}
#section3 .ser2_head h2{font-size:1.8rem;}
#section3 .ser2_head h3{color: #dfdfdf; margin-top:10px; margin-bottom:5px;}
#section3 .ser2_head p{color: #dfdfdf; font-size:0.87rem;}
#section3 .ser2_head .sec3_more{width:110px; height:15px; margin-top:20px;
                                padding-left:80px;}
#section3 .ser2_head .sec3_more img{width:100%;}                  


#section4::after{content: ''; display: block; clear: both;}
#section4{width:100%; height:830px; background-color:#f3f3f3; 
          position: relative; margin-top:80px;}
#section4 h2{text-align: center; padding-top:100px; padding-bottom:80px;}
#section4 .sec4_box .sec4_img{overflow: hidden;
  border-top-left-radius:40px; 
  border-top-right-radius:40px; }
#section4 .sec4_box .sec4_img img{width:100%;
                              border-top-left-radius:40px; 
                              border-top-right-radius:40px;}
#section4 .sec4_box .sec4_img img:hover{transform: scale(1.2); transition:0.9s;
                                        border-radius:40px;}
#section4 .sec4_box .sec4_txt{text-align: center; margin-top:10px;}
#section4 .sec4_box .sec4_txt p{margin-top:10px; margin-bottom:10px; font-size:0.75rem;}


#section4 .slick-arrow{position: absolute; bottom:-50px; 
                       width:50px; height:50px;
                       text-indent:-9999px;
                       border:none; cursor: pointer; }
#section4 .slick-prev{left:33%; background:url(../images/arrow_left.png) no-repeat;}
#section4 .slick-prev img{width:100%;}
#section4 .slick-next{right:33%; background:url(../images/arrow_right.png) no-repeat;}
#section4 .slick-next img{width:100%;}
#section4 .slick-slide {
  padding:0;
  text-align:center;
  margin-right:15px;
  margin-left:15px;
  border:#FFBB00 1px solid; 
  background-color: #ffffff;
  border-radius:40px;
}

#section4 .regular_4 .slick-slide.slick-active.slick-current img {
  opacity: 1;
  background-color: #FFBB00;
   }



#section5::after{content: ''; display: block; clear: both;}
#section5{margin-top:150px;}
#section5 .used{float: left; text-align: center; transform: translate(350px, 240px);}
#section5 .used p{font-size:0.8rem; color: #FFBB00;}
#section5 .more{text-align: center; margin-top:30px; margin-left:10px;
                padding-top:10px; color:rgba(53, 53, 53, 0.8); font-weight:700;}
#section5 .sec5_img{width:60%; float: right;}
#section5 .sec5_img img{width:100%;}


#section6{width:100%; height:820px; background: url(../images/follow.jpg) no-repeat;
          margin-top:150px;  }
#section6 .follow{text-align: center; padding-top:150px;}
#section6 .follow .sns{display: inline-block; margin:50px 0 120px 0;}
#section6 .follow .sns li{width:75px; height:75px; float: left; 
                          margin:0 30px 0 0;}
#section6 .follow .sns li:hover{transform: scale(1.2); transition:0.9s;}
#section6 .follow .sns li img{width:100%; }
#section6 .follow .sns li a{font-size:0.8rem; color: #f3f3f3; 
                            text-decoration: underline;}

                           
#section6 .contact{text-align: center;}
#section6 .contact h2{margin-bottom: 70px;}
#section6 .contact .con{width:250px; height:50px; background-color: #FFBB00;
                        border-radius:15px; line-height: 50px; 
                        color:rgba(53, 53, 53, 0.8); margin:0 auto;
                        font-weight:700;}
/*********************footer****************************/

#footer{margin-top: 150px;}
#footer .ft_mn{width:100%; height:230px;
               border: #FFBB00 1px solid;}
#footer .ft_mn ul{float: left; width:32%;}
#footer .ft_mn ul:first-child{margin-left:100px;}
#footer .ft_mn ul:last-child{width:20%;}
#footer .ft_mn ul h5{margin:50px 0 10px 0;}
#footer .ft_mn ul li{font-size:0.8rem; margin-bottom:8px;}

#footer .ft_mn2{width:100%; text-align: center; font-size:0.7rem;
                margin-bottom:5px; margin-top:20px;}
#footer .address{text-align: center; font-size:0.8rem;
                 margin-bottom:10px;}



/******반응형******/
@media all and (max-width:1250px){
#section3 .ser1_head{text-align: center; z-index: 999;
                     position: absolute; top:60px; left:150px;}

#section3 .ser2_head{text-align: center;
                       position: absolute; top:80px; left:100px;}
#section5 .used{transform: translate(120px, 120px);}



@media all and (max-width:1100px){
#header{width:100%; height:100px; 
        position: relative; background-color:#F3F3F3;}
#header .logo{width:14%; height:auto;}
#header .logo img{width:100%;}
#header #nav{position: relative; margin-right:50px;}
#header #nav .depth1 > li{float: left; padding-left:30px; padding:20px 70px 0 0;}
#header #nav .depth1 > li > a{display: block; line-height: 60px;}
#header #nav .depth1 > li:hover ul{display: block;}
#header #nav .depth1 ul{background-color:rgba(53, 53, 53, 0.8);
                        width:100%; padding:20px 0; padding-left:25px;
                        position: absolute; left:0; top: 100px;
                        display: none; z-index:99999;}
#header #nav .depth1 ul li{display: inline-block; padding:0 40px 0 0; 
                           color:#FFA200; font-size:0.9rem;} 
#section5 .used{transform: translate(100px, 100px);}  
}





@media all and (max-width:980px) {

#header{width:100%; height:100px; 
          position: relative; background-color:#F3F3F3;}
#header .logo{width:14%; height:auto;}
#header .logo img{width:100%;}

#header #nav{position: relative; margin-right:50px;}
#header #nav .depth1 > li{float: left; padding-left:30px; padding:20px 70px 0 0;}
#header #nav .depth1 > li > a{display: block; line-height: 60px;}
#header #nav .depth1 > li:hover ul{display: block;}
#header #nav .depth1 ul{background-color:rgba(53, 53, 53, 0.8);
                        width:100%; padding:20px 0; padding-left:25px;
                        position: absolute; left:0; top: 100px;
                        display: none; z-index:99999;}
#header #nav .depth1 ul li{display: inline-block; padding:0 40px 0 0; 
                           color:#FFA200; font-size:0.9rem;}

#section1 .inner #notice{
  width:100%; max-width:980px; height: 40px; padding-left:85px;
  position: absolute; bottom:50px; transition: 0.5s; 
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.85);}



/*slick dot*/
#section2 .slick-dots{margin-left:20%; margin-top:30px; }
#section2 .slick-dots li{
width:12px; height:12px; background-color:#dfdfdf;
border-radius:30px; text-indent: -9999px;
display:block; float: left;
margin: 0 25px 0 25px;}
#section2 .slick-dots li:active, 
#section2 .slick-dots li:hover, 
#section2 .slick-dots li:focus,
#section2 .slick-dots li.slick-active{
width:15px; height:15px; background: #FFBB00; border-radius:40px; }
/*slick dot*/

#section2 .sec2_box{position: relative;
    margin:0 auto; width:100%; height:80px; float: left;
    border-top:1px solid #FFBB00;
    border-bottom:1px solid #FFBB00;
    margin-top:80px;}
#section2 .sec2_box p{
    font-size:0.9rem; line-height:80px; margin-left:60px;
    color: #FFBB00;}
#section2 .sec2_box .more{position: absolute; bottom:20px; right:30px;}



#section3{position: relative; width:100%;}
#section3 .ser1_head{text-align: center; z-index: 999;
                     position: absolute; top:60px; left:100px;}
#section3 .ser2_head{text-align: center;
                      position: absolute; top:80px; left:100px;} 


#section4{width:100%; height:550px; background-color:#f3f3f3; 
          position: relative; margin-top:80px;}
#section4 h2{text-align: center; padding-top:60px; padding-bottom:80px;}


#section5 .used{transform: translate(100px, 100px);}

#section6{margin-top:150px;}
}


@media all and (max-width:780px){

#section3 .ser1_head{text-align: center; z-index: 999;
                     position: absolute; top:40px; left:80px;}
#section3 .ser1_head h2{font-size:1.2rem;}

#section3 .service2{width:60%; height:auto; border:#FFBB00 1px solid;
                    transform:translate(0, -80px);
                    float: right; /*position: absolute; top:415px; left:850px;*/}
#section3 .ser2_head{text-align: center;
                     position: absolute; top:50px; left:100px;}
#section3 .ser2_head h2{font-size:1.2rem;}



}